
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h6 class="text-center">Opciones</h6>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <input class="form-control mt-1" type="text" placeholder="Buscar cliente" [(ngModel)]="data"/>
                        </div>
                        <div class="col-md-6">
                            <select class="custom-select" [(ngModel)]="selectValue">
                                <option value="" class="text-dark">Buscar por encuesta</option>
                                <option *ngFor="let quizz of quizes" value="{{ quizz.id }}" class="text-dark">{{ quizz.name }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mt-2 text-center">
                        <div class="col-md-12">
                            <h6>Buscar por fecha</h6>
                        </div>
                        <div class="col-md-6">
                            <label for="">Desde</label>
                            <input class="form-control mt-1" type="date" [(ngModel)]="dateStart" placeholder="Desde"/>
                        </div>
                        <div class="col-md-6">
                            <label for="">Hasta</label>
                            <input class="form-control mt-1" type="date" [(ngModel)]="dateEnd" placeholder="Hasta"/>
                        </div>
                        <div class="col-md-6 mt-2">
                            <input class="btn btn-primary btn-block" type="button" value="Limpiar" (click)='clean()'/>
                        </div>
                        <div class="col-md-6 mt-2">
                            <input class="btn btn-primary btn-block" type="button" value="Buscar" (click)='searchClients()'/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table text-center" id="">
                            <thead class="text-primary">
                                <tr>
                                    <th>Nombre(s)</th>
                                    <th>Fecha de creación</th>
                                    <th>Edad</th>
                                    <th>Correo electrónico</th>
                                    <th>Genero</th>
                                    <th>Estado civil</th>
                                    <th>País</th>
                                    <th>Estado</th>
                                    <th>Test realizados</th>
                                    <th>#</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let client of clients$ | async; index as i">
                                    <td>
                                      <span>{{ client.nombre }}</span>
                                    </td>
                                    <td>
                                        <span>{{ client.created }}</span>
                                    </td>
                                    <td>
                                        <span>{{ client.edad }}</span>
                                    </td>
                                    <td>
                                        <span>{{ client.correo }}</span>
                                    </td>
                                    <td>
                                        <span>{{ client.genero }}</span>
                                    </td>
                                    <td>
                                        <span>{{ client.estado_civil }}</span>
                                    </td>
                                    <td>
                                        <span>{{ client.pais }}</span>
                                    </td>
                                    <td>
                                        <span>{{ client.estado }}</span>
                                    </td>
                                    <td>
                                        <span>{{ client.test }}</span>
                                    </td>
                                    <td>
                                        <a [routerLink]="" (click)="seeDetails(client.nombre)">
                                            <span class="tim-icons icon-alert-circle-exc text-info"></span>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>